# Build artifacts
vscode/
VSCode-win32-*
VSCode-darwin-*
VSCode-linux-*
vscode-reh-*
vscode-reh-web-*
CodeSphereSetup-*
CodeSphereUserSetup-*
CodeSphere-x64-*
CodeSphere-arm64-*
CodeSphere-ia32-*
.DS_Store
*.env
assets/
build/linux/appimage/out
build/linux/appimage/pkg2appimage.AppDir
build/linux/appimage/pkg2appimage-*.AppImage
build/linux/appimage/pkg2appimage.AppImage
build/linux/appimage/squashfs-root
build/linux/appimage/CodeSphere
build/windows/msi/releasedir
build/windows/msi/Files*.wxs
build/windows/msi/Files*.wixobj
sourcemaps/
stores/snapcraft/insider/*.snap
stores/snapcraft/stable/*.snap
